.pater {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    padding: 0.5em;
    color: inherit;
    background: #000;
    display: flex;
    align-items: center;
}

.pater:hover {
    color: inherit;
}

.pater__logo {
    vertical-align: middle;
    max-width: 100px;
    transition: transform 0.5s, opacity 0.5s;
    transition-timing-function: cubic-bezier(0.7, 0, 0.3, 1);
}

.pater__title {
    margin: 0;
    font-size: 1em;
    font-weight: normal;
    transition: transform 0.5s, opacity 0.5s;
    transition-timing-function: cubic-bezier(0.7, 0, 0.3, 1);
}

.pater__desc {
    font-size: 0.85em;
}

.pater__img-wrap {
    position: absolute;
    bottom: 2em;
    left: 0;
    width: 100%;
    background: transparent;
    transition: transform 0.5s 0.1s;
    transform: translate3d(0, 100%, 0) translate3d(0, 2em, 0);
    transition-timing-function: cubic-bezier(0.7, 0, 0.3, 1);
}

.pater__img {
    max-width: 50%;
    display: block;
    opacity: 0;
    transition: opacity 0.5s 0.2s;
}
